.shimmer {
  position: relative;
  overflow: hidden;
  background-size: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.shimmer span {
  font-family: var(--font-display);
  font-size: 0.8rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  opacity: 0;
  display: none;
}

.shimmer:hover span {
  opacity: 1;
  display: block;
}
.shimmer:focus span {
  opacity: 1;
  display: block;
}

.shimmer ::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 60px;
  height: 100%;
  top: 0;
  left: -1000px;
  filter: blur(10px);
  transform: skewX(-30deg);
}

.shimmer:hover ::before {
  animation: slide 1s;
}
.shimmer:hover {
  color: white;
  border: 1px solid white;
}
.shimmer:focus {
  color: white;
  outline: white auto 1px;
}

.shimmer:focus ::before {
  animation: slide 1s;
}
.shimmer:focus-visible ::before {
  animation: slide 1s;
}

@keyframes slide {
  0% {
    left: -100px;
  }
  100% {
    left: 500%;
  }
}
