---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro";
import Divider from "../components/Divider.astro";
import Contact from "../components/Contact";
import Footer from "../components/Footer";
import Things from "../components/Things";
---

<Layout title="Shaun Anderson" description="My random part of the web">
  <main>
    <article>
      <Intro />
      <Divider />
      <Contact />
      <Things />
    </article>
  </main>
  <Footer />
</Layout>
