---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro";
import CraftLog from "../components/CraftLog";
---

<Layout title="Welcome to Astro.">
	<main>
		<article>
			<Intro />
			<CraftLog />
		</article>
	</main>
</Layout>
