---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro";
import Divider from "../components/Divider.astro";
import Contact from "../components/Contact";
import Footer from "../components/Footer";
---

<Layout title="Shaun Anderson.">
	<main>
		<article>
			<Intro />
			<Divider />
			<Contact />
		</article>
	</main>
	<Footer />
</Layout>
