{/* Divider */}
<div
  style={{
    display: "flex",
    justifyContent: "center",
    animation: "var(--fade)",
    color: "var(--grey8)",
    paddingTop: "2rem",
    paddingBottom: "2rem",
  }}
>
  <svg
    height="100px"
    width={"100%"}
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    viewBox="300 340 200 125"
    opacity="1"
    ><defs
      ><linearGradient
        gradientTransform="rotate(270)"
        x1="50%"
        y1="0%"
        x2="50%"
        y2="100%"
        id="sssquiggly-grad"
        ><stop stop-color="hsl(37, 99%, 67%)" stop-opacity="1" offset="0%"
        ></stop><stop
          stop-color="hsl(316, 73%, 52%)"
          stop-opacity="1"
          offset="100%"></stop></linearGradient
      ></defs
    ><g
      class="paths"
      stroke-width="2.5"
      stroke="url(#sssquiggly-grad)"
      fill="none"
      stroke-linecap="round"
      transform="matrix(1,0,0,1,-5,367.5210237503052)"
    >
      <path
        class="path"
        d="M10,10C49.583333333333336,9.375,118.75,10.125,200,7C281.25,3.875,316.66666666666663,-4.375,400,-5C483.33333333333337,-5.625,516.6666666666666,0.875,600,4C683.3333333333334,7.125,758.3333333333334,8.75,800,10"
      >
      </path>
      <path
        class="path"
        d="M10,10C49.583333333333336,9.375,118.75,10.125,200,7C281.25,3.875,316.66666666666663,-4.375,400,-5C483.33333333333337,-5.625,516.6666666666666,0.875,600,4C683.3333333333334,7.125,758.3333333333334,8.75,800,10"
        transform="matrix(1,0,0,1,0,10)"
      >
      </path>
      <path
        class="path"
        d="M10,10C49.583333333333336,9.375,118.75,10.125,200,7C281.25,3.875,316.66666666666663,-4.375,400,-5C483.33333333333337,-5.625,516.6666666666666,0.875,600,4C683.3333333333334,7.125,758.3333333333334,8.75,800,10"
        transform="matrix(1,0,0,1,0,20)"
      >
      </path>
      <path
        class="path"
        d="M10,10C49.583333333333336,9.375,118.75,10.125,200,7C281.25,3.875,316.66666666666663,-4.375,400,-5C483.33333333333337,-5.625,516.6666666666666,0.875,600,4C683.3333333333334,7.125,758.3333333333334,8.75,800,10"
        transform="matrix(1,0,0,1,0,30)"
      >
      </path>
      <path
        class="path"
        d="M10,10C49.583333333333336,9.375,118.75,10.125,200,7C281.25,3.875,316.66666666666663,-4.375,400,-5C483.33333333333337,-5.625,516.6666666666666,0.875,600,4C683.3333333333334,7.125,758.3333333333334,8.75,800,10"
        transform="matrix(1,0,0,1,0,40)"
      >
      </path>
      <path
        class="path"
        d="M10,10C49.583333333333336,9.375,118.75,10.125,200,7C281.25,3.875,316.66666666666663,-4.375,400,-5C483.33333333333337,-5.625,516.6666666666666,0.875,600,4C683.3333333333334,7.125,758.3333333333334,8.75,800,10"
        transform="matrix(1,0,0,1,0,50)"
      >
      </path>
      <path
        class="path"
        d="M10,10C49.583333333333336,9.375,118.75,10.125,200,7C281.25,3.875,316.66666666666663,-4.375,400,-5C483.33333333333337,-5.625,516.6666666666666,0.875,600,4C683.3333333333334,7.125,758.3333333333334,8.75,800,10"
        transform="matrix(1,0,0,1,0,60)"
      >
      </path>
    </g></svg
  >
</div>
